<!--완료-->
{% load socialaccount %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <div class="logo me-auto">
        <h1><a href="{% url 'index' %}">B.WINEZ</a></h1>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'like_list' %}">mypage</a></li>
            <!--로그인-->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                </div>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
                </li>
            {% endif %}
        </ul>
    </nav><!-- .navbar -->
    <!-- 검색기능 추가-->
    <div class="mt-2">
        <div class="row">
            <div class="col-8">
                <form method="GET" action="{% url 'postsearch' %}">
                    <input name="search" type="text" class='d-flex form-control book-a-table-btn scrollto' placeholder="검색..." id="search-input">
                    <span class="input-group-btn">
                        <button class="visually-hidden btn btn-outline-success flex-shrink-0" type="submit" onclick="searchPost();">검색</button>
                    </span>
                </form>
            </div>
            <div class="col-3">
                <button type="button" class="btn camera-btn" data-bs-toggle="modal" data-bs-target="#img_ocr">
                    <i class="fa-solid fa-camera"></i>
                </button>
            </div>
        </div>
    </div>
  </div>
</header>
<!--모달-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm " href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp Log in with Google</a>
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="fa-solid fa-circle-user"></i>&nbsp&nbsp Log in with Username</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="fa-solid fa-apple-whole"></i>&nbsp&nbsp Sign Up with Apple</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="img_ocr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <img src="assets/img/logo.png" alt="" class="img-fluid">
              이미지를 업로드 하세요
          </div>
          <div class="modal-footer">
              {% comment %} 18분 참고 {% endcomment %}
              {% comment %} views.py에 ocr_upload 함수 생성해서 불러오겠다는 뜻 {% endcomment %}
              <form action = '/ocr_upload' method = 'POST' id = 'Coauthform' enctype = "multipart/form-data">
                  <input type = 'file' name = 'uploadfile' id = 'uploadfile' />
                  <button type = "submit" class="btn btn-primary" data-bs-dismiss="modal"> 검색 </button>
              </form>
              
              <button type = "button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
      </div>
  </div>
</div>
<script>
        
  function searchPost(){
      let searchValue = document.getElementById('search-input').value.trim();
      if (searchValue.length<1){
          alert('*검색어('+searchValue+')가 너무 짧습니다. 다시 입력해주세요*');
      }
  };

  document.getElementById('search-input').addEventListener('keyup', function(event){
      if (event.key == 'Enter'){
          searchPost();
      }
  });
</script>